h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.margins {
    margin: 30px;
}